body { background-color: #DBBAFA}
h1 {color: #DA0EFF; text-decoration: underline; text-align: center; font-size: 250%}
.subtitulo { color: #FF4DF9}
.ingredientes { background-color: #CE93D8}
.informacion { font-family:Courier}
.listaingred { font-size:120%}
.video { color: #ce7095}
.pancakes {height:350px; width:350px;}
