@font-face {
  font-family: "titulos";
  src: url(../fuentes/titulos.TTF)
  format("truetype");
}

@font-face {
  font-family: "subtitulos";
  src: url(../fuentes/subtitulos.TTF)
  format("truetype");
}

body { background-color: #f6f1de}

header { background-color: #e4d6f8;
         display: flex;
         justify-content: space-around;
          align-items: center;
         flex-wrap: wrap;
         border-radius: 10%;
}

.bandera {
  width: 10%;
  height: auto;
}

h1 {color: #DA0EFF;
    text-decoration: underline;
    font-size: 230%;
     font-family: "titulos";
}
h1:hover { color: black;
}

@media (max-width: 575px) {
  h1 {
    color: #ea0063;
  }

}

.redessociales { color: #0000;
          display: flex;
          justify-content: center;
          align-items: baseline;
}

.logo{ width: 5vh;
       height: auto;
       margin: 0.7vw;
       border-radius: 20%;
}

nav { background-color: #f4c4e9;
      margin: 0.8vw;
      display: flex;
      border-radius: 10%;
}

.enlaces {color: inherit;
          display: flex;
          justify-content: space-around;
          padding: 1vw;
}

a { transition: font-size 0.3s;
   color: black;
   font-size: 1.2em;
   font-family: 'Sono', sans-serif;
   text-decoration: none;
}
a:link {color: black;}
a:visited {color:black;}
a:active {color: grey;}
a:hover {font-size: 130%;}

.pancakesintro { display: flex;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center;
}

.pancakes { display: flex;
            height:2%;
            width:25%;
            justify-content: center;
            align-items: center;

}
.imagenpancakes { padding: 2vw;
                  width: 23%;
}

.pancakescel { padding: 1.5vw;
               width: 25%;
}

@media (max-width: 575px) {         /* no se mostrara imagenpancakes hasta los 500px*/
   .imagenpancakes {
               display: none;
  }
}

@media (min-width: 575px) {         /* no se mostrara pancakescel despues de los 500px*/
   .pancakescel {
               display:none;
  }
}
.subtitulo { color: #FF4DF9;
             font-size: 200%;
             font-family: "subtitulos";
             text-decoration: underline;
}



.informacion { font-family:Courier}

@media (max-width: 575px) {
  .informacion {
    display: none;
  }

}

.intro { display: flex;
         flex-wrap: wrap;
         flex-direction: column-reverse;
         align-content: center;
}

.recetasppl { align-self: flex-end;
              align-items: center;
              order: -9;
}

.preparacion { display: flex;
                padding: 0.6vw;
               justify-content: space-around;
               align-items: center;
               flex-direction:column;
                font-size: 200%;
               font-family: "subtitulos";
}

.ingredientes { background-color: #CE93D8;
                font-size: 0.7em;
                font-family: "subtitulos";
}

.listaingred { font-size:0.7em}

.video { display: flex;
         justify-content: space-around;
         align-items: center;
         flex-direction:column;
         color: #ce7095;
         font-size: 150%;
}

@media (max-width: 575px) {
  .video {
    display: none;
  }

}
.info { margin: 0.5em;
        padding: 0.1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 28vw;
        height: 28vh;
        font-family: 'Sono', sans-serif;
}

.receta2 { font-size: 150%;
           font-family: "subtitulos";
}

section { background-color: #fad3b2;
}

@media (max-width: 575px) {
  section {
    background-color:#e4d6f8;
  }

}

.masrecetas { display: flex;
           justify-content: space-between;
           align-items: center;
           flex-direction:column;

}

.conteiner-fluid { display: flex;
                  justify-content: space-between;
                  flex-wrap: wrap;
                   padding: 2.2vw;
}



footer { background-color: #e4c7dd;
         margin-top: 2vw;
         margin-bottom: 2vh;
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         padding: 1em;
         border-radius: 10%;
}

.whatsapp {
    position: fixed;
    bottom: 1vw;
    right: 1vh;
    z-index: 9999;
    font-size: 30%
  }

.mapa {
  padding: 0.5vw;
  margin: 0.5vh;
  align-items: center;
  width: 100%
  height: 100%;
}
